.top-bar {
    background: #2b2b2b; /* Light grey background */
    padding: 10px 20px; /* Adjust as needed */
    display: flex;
    align-items: center;
    border-bottom: 1px solid #2b2b2b; /* Thin border for the bottom of the top bar */
  }
  
  .back-arrow {
    background: none;
    border: none;
    font-size: 2rem; /* Adjust size as needed */
    cursor: pointer;
    color: #ffffff; /* Dark color for the arrow */
  }

  .back-arrow:hover {
    background: none
  }
  
.pricing-header {
    text-align: center;
    margin-bottom: 40px; /* Adjust as needed */
  }
  
  .pricing-header h1 {
    font-size: 2.5rem; /* Adjust size as needed */
    color: #ffffff; /* Dark color for the title */
    margin-bottom: 20px;
  }
  
  .plan-description {
    font-size: 1.2rem; /* Adjust size as needed */
    color: #666; /* Lighter text for the description */
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .pricing-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px;
  }
  
  .card {
    position: relative;
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: visible;
  }
  
  .card-image {
    position: absolute;
    top: -20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 150px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-size: cover;
    background-position: center;
  }
  
  .truck {
    background-image: url('../public/SuperChicken.png'); /* Replace with your image path */
  }
  
  .boat {
    background-image: url('../public/SuperChicken.png'); /* Replace with your image path */
  }
  
  .plane {
    background-image: url('../public/SuperChicken.png'); /* Replace with your image path */
  }
  
  .card-content {
    margin-top: 60px; /* Adjust based on image height */
  }
  
  .price,
  .details {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #3700b3;
  }
  
  .faq-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 40px;
    padding: 20px;
  }
  
  .faq-container {
    padding: 20px;
  }
  
  .faq-container h3 {
    color: #ffffff; /* Dark text for the question */
    margin-bottom: 10px;
  }
  
  .faq-container p {
    color: #666; /* Lighter text for the answer */
    font-size: 0.9rem;
  }
  